body {
 font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*This is the part you should copy for navigation in all pages*/
nav ul{

  justify-content: space-around;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;


}

nav ul li{

  justify-content: space-around;
  margin: 15px;
  position: relative;
  top: -10px;
}

header{

  height: 70px;
}

header h1{

  position: relative;
  left: -50px;
  top: -20px;
}

.membership-btn{
  position: relative;
  top: -20px;
  margin-top: 0px;

  
}

button:hover{

  cursor: pointer;
}
/*Upto this part*/
/*The Code Above is used to style the navigation bar.*/
#membership-txt{

  justify-content: center;
  text-align: center;
  background-color:#5046E6;
  width: 1100px; 
  height: 650px;
  border-radius:10px;

}



.header-text{

  position: relative;
  top: 50px;
  color:#C7D3FF;
  margin: 10px 40px;
}

.header-text h1{
  
  font-size: 36px;
  margin: 0;
  color: #fff;
}

.quote{

  color:#fff;
  position: relative;
  top:350px;
  text-align: left;
  font-size: 18px;
}

.text-section{

  margin-left: 0px;
  justify-content: left;
  text-align: left;
}

.quote p:first-child{

  margin:0 40px 30px 40px;
  padding:10px;
}

.quote p:nth-child(2){

  color:#E0E7FF;
  font-size: 15px;
  margin:0 40px 0 40px;
}
/*The Above Code is the one used to style the membership-form text the one i purple section*/
#membership-txt form{

  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  float: right;
  height: 650px;
  width:550px;
 
}

.welcome-message{

  position: relative;
  top:-30px;
  text-align: left;
  align-items: left;
  font-size: 17px;
  color: #4B5563;
  margin:5px 60px;

}

.welcome-message h1{

  font-size: 24px;
  color:#111827;
  margin-bottom:5px;
}

.email-section{

  color: #374151;
  text-align: left;
  align-items: left;
  position: relative;
  top:-30px;
  margin: 20px 60px;

}

input{

  width:100%;
  border: 1px solid #D1D5DC;
  border-radius: 9px;
  height: 40px;
  margin: 10px;
}

.password-section{

  color: #374151;
  text-align: left;
  align-items: left;
  position: relative;
  top:-90px;
  margin: 20px 60px;

}

.password-section a{

  position: relative;
  right:-230px;
  color:#5046E6;
}

input[type = "submit"]{

  width:79%;
  position: relative;
  top: -115px;
  left: 7px;
  background-color: #5046E6;
  color: #FFFFFF;

}

input[type="submit"]:hover{

  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;

}

input[type="submit"]:active {
  transform: scale(0.98);      /* Slightly shrink the button */
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.2); /* Reduce shadow to simulate pressing down */
  outline: none;               /* Optional: remove focus outline while pressed */
}

.continue-with-line{
  position: relative;
  top: -150px;
  left: 60px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  color:#6B7280;
}
.line{
  
  width:25%;
  margin:10px;
} /*Edits the lines around the continue with sentence in the login */

.google-btn, 
.apple-btn{

  border: 1px solid #D1D5DC;
  color:#6B7280;
  position: relative;
  top: -120px;
  margin: 4px;
  width: 35%;
  height: 130%;
  border-radius: 10px;
}
.google-btn:active,
.apple-btn:active {
  transform: scale(0.98);      /* Slightly shrink the button */
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.2); /* Reduce shadow to simulate pressing down */
  outline: none;               /* Optional: remove focus outline while pressed */
} 

.google-btn:hover,
.apple-btn:hover{

  cursor: pointer;
  background-color: #D1D5DC;

}

.signup-link{

  position:relative;
  top:-30px;
}
.signup-link a{

  color: #5046E6;
 

}
.signup-link a:hover{

  cursor: pointer;

}
/*Hover is not working yet will check on it later*/
/*The above section is used to style the login form in the form section*/


/*Also copy this part for all pages as the footer*/
footer{

  background-color: #1F2937;
  padding:20px;
  height: 300px;
  
}

.footer-container{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 80%;
}

.unisave-text{

  float: left;
  width: 360px;
  color:#9CA3AF;
  font-size: 14px;

}

.unisave-text h3{

  color:#ffff;
  font-size:20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.quick-links{

  
  width: 360px;
  color:#9CA3AF;
  font-size: 14px;
  margin:0;
}
.quick-links h3{

  color:#ffff;
  font-size:20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.quicklinks ul li{

  list-style: none;
  margin:5px 0;
}

.contact-info{

  float: left;
  width: 360px;
  color:#9CA3AF;
  font-size: 14px;
}
.contact-info h3{

  color:#ffff;
  font-size:20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.connect{


 
  color:#9CA3AF;
  font-size: 14px;

}

.connect div ul {

  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
  font-size: 20px;

}

.connect div ul li {

  list-style: none;
  margin: 0 10px;
  color:#9CA3AF;
}

.connect h3{

  color:#ffff;
  font-size:20px;
  margin-bottom: 8px;
  font-weight: bold;

}

.footer-bottom hr{

  color: #374151;
  border: 0.5px solid #374151;
  margin: 20px 0;
}

.footer-bottom p{

  color:#9CA3AF;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
/*Upto this part
/*The above section is used to style the footer of the page*/


